.App {
  text-align: center;

}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.card {
  width: 400px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 20px; /* Köşeleri yuvarlatma */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Gölge efekti */
}

.card-content {
  padding: 20px;
}